.login{
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    position:fixed;
    z-index:  20;
    left: 0;
    right: 0;
    margin: 5% auto;
  }

  
.login-btn{
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor:pointer;
    border-radius: 2.5rem;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 1rem auto 0px auto;
    display:flex;
 }

    
.login-btn--alt{
    background-color:transparent;
    color: #800040;
  }