@import '../var';

.login{

    box-shadow: $box-shadow-frontal;
    border-radius: 6px;
    background-color:$color-secondary;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    position:fixed;
    z-index:  130;
    left:auto;
    top: 7rem;
    margin:  0px auto 0px auto;
    h3{
    color:$color-accent;
  }
  }

  
.login-btn{
    justify-content: center;
    font: inherit;
    width: 15rem;
    padding: 0.5rem 1.5rem;
    cursor:pointer;
    border-radius: 2.5rem;
   // text-transform: uppercase;
    font-family: $tipografia-general;
     font-size: small;
     font-weight:bold;
     font-style: italic;
    color:$color-secondary;
    border: $border-styles;
    margin: 1rem auto 0px auto;
    display:flex;
    background-color: #0059d6ff;
 }

    
.login-btn--alt{
   
    color:$color-secondary;
    border: $border-styles;
  }

  @media (max-width: 350px ) {
    .login {
       width: auto; 
    }
  }