$color-primary: #33379bff;
$color-secondary: #e9e9e9ff;
$color-accent: #666;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;


$border-styles:solid 1.5px  $color-secondary;
$border-radios:0.25rem;
$box-shadow-frontal: 0px 0px 3px 0px rgba(0,0,0,0.2);
