@import 'var';


*{
    font-family: Rubik,sans-serif;
    margin: 0px;
    box-sizing:border-box;
}

body
{
    background-color:$color-primary;
    padding-top: 10rem;
    background-color:  $color-primary;
    background-image: linear-gradient(62deg, $color-primary, rgba(25, 130, 151, 0.979));
    display: flex;
   #app{
 //    display: flex;
 //    flex-direction: column;
  //   align-items: stretch;
     width:100%;
   }

    //background: url("./img.jpg") no-repeat ;

    h3, pre , div{
      color:$color-secondary;
      
    }
    #name, label{
        border-radius: 3px;
        height: 18px;
        margin-top:2rem 
    }

    .navigation-link:hover , .navigation-logo:hover ,.login-btn:hover{
        visibility:visible;
        animation-name: react-border;
        animation-duration: 0.15s;
        animation-fill-mode: forwards;
    
      }
      @keyframes react-border {
        0%{
          border: 1.2px solid #ced4da; 
        
  
        }
        100%{
          border: 2px solid #949FB8; 
           
        }
        
    }


}


.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
 

  div{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem auto 1rem auto;
    pre: {
      text-align: center;
      
      
    };
    p{
   
      text-align: justify;
      margin:0 1.5rem 0 1.5rem  ;

  
    }
   
  }

}

@media (max-width: 580px ) {
  body{
      padding-top: 20rem;
     }
  
}

@media (max-width: 500px ) {
  body{
    padding-top: 25rem;
   }
}