@import 'var';


*{
    font-family: Rubik,sans-serif;
    margin: 0px;
    box-sizing:border-box;
}

body{
    background-color:$color-primary;

   
    background: url("./img.jpg") no-repeat;
    label{
        color:$color-secondary;
        font-size: 20px;
        background-color: rgb(172, 151, 151);
      
        margin-right: 1rem;
        
    }
    #name, label{
        border-radius: 3px;
        height: 18px;
        margin-top:2rem 
    }

    .navigation-link:hover , .navigation-logo:hover ,.login-btn:hover{
        visibility:visible;
        animation-name: react-border;
        animation-duration: 0.15s;
        animation-fill-mode: forwards;
    
      }
      @keyframes react-border {
        0%{
          border: 1.2px solid #ced4da; 
        
  
        }
        100%{
          border: 2px solid #949FB8; 
           
        }
        
    }


}