@import '../var';
    h1{
       
        color: $color-secondary;
        margin: auto;
        text-justify: distribute-all-lines;
    }
    #header{
        display: flex;
        background-color:$color-primary;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: +1;    
        width: 100%;
        .header-user-img{
          border-radius: 50%;
          margin-top: 1.5rem;
          width: 65px;

        }
        border-bottom-left-radius: $border-radios;
        border-bottom-right-radius:$border-radios;
        border-bottom:$border-styles;
        box-shadow:$box-shadow-frontal
    }

    .navigation-nav{

        display: flex;
        flex-direction: row;
        align-items: flex-end;      
        justify-content: flex-start;
 
       }

    .navigation-ul{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
        list-style: none;
        
    }

    .navigation-link{
    text-decoration: none;
    color: black;
    height: 2rem;
    margin: 0rem 2rem 0rem 0rem;    
    font-size: x-large;
    color:white;
    }


   @media (max-width: 740px ) {
        .navigation-ul {
          flex-direction: column;
        }
        h1{
            margin-left: 3rem;
        }
      }

      @media (max-width: 580px ) {
        #header {
          flex-direction: column;
          align-items: center;
        }
      }
     