@import '../var';
    h1{
       
        color: $color-secondary;
        margin: auto;
        text-align: center;
    }
    #header{
        display: flex;
        background-color:$color-primary;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 1;    
        width: 100%;
        .header-user-img{
          border-radius: 50%;
          margin-top: 1.5rem;
          width: 65px;

        }
        border-bottom-left-radius: $border-radios;
        border-bottom-right-radius:$border-radios;
        border-bottom:$border-styles;
        box-shadow:$box-shadow-frontal
    }

    .navigation-nav{

        display: flex;
        flex-direction: row;
        align-items: flex-end;      
        justify-content: flex-start;
 
       }

    .navigation-ul{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
        list-style: none;
        
    }

    .navigation-link{
    text-decoration: solid;
    color: black;
    height: 2rem;
    margin: 0rem 2rem 0rem 0rem;    
    font-size: x-large;
    font-weight: bold;
    border:$border-styles;
    box-shadow: $box-shadow-frontal;
    color:white;
    }


   @media (max-width: 740px ) {
        .navigation-ul {
          flex-direction: column;
        }

      }

      @media (max-width: 580px ) {
        #header {
          position: relative;
          flex-direction: column;
          align-items: center;
          .navigation-link{
            margin: 1rem auto 5rem auto;
          }
          .navigation-nav{
            margin:15px auto 20px auto ;
          }
          .header-user-img{
            margin: 1rem auto 1rem auto;
          }
          .navigation-ul{
            padding-left: 0px;
          }
        }
      }
     